%h1 What is Delta Trade?
%p
%h5 DeltaFinancial is, software-based system that gives you simple and easy access to sophisticated trading technology.
%p
%h5.text-info Quick Overview:
Our minimum account size is only $5000 and we manage your first $25,000 for free. Our annual advisory fee is only (0.25%-0.65%) of the amount we manage in excess of $25,000. There are no transaction fees, no holding periods, and no hidden costs.
%p
%h5.text-info We currently manage the following account types:
%ul
  %li Individual, joint, and trust taxable accounts
  %li IRA accounts and transfers (Traditional, Roth, SEP)
  %li 401(k) rollovers
  %li Clients with $100,000 or more invested in a taxable, non-retirement account can take advantage of our continuous, automated tax-loss harvesting service at no additional cost.
%p
%h5.text-info Easy Access to your funds:
%p
Quickly and easily transfer money between your checking account and Betterment by linking them electronically. Bank Transfer(ACH): This option lets you move funds directly between a checking or savings account and your DeltaFinancial account. Once you confirm your bank account by identifying two very small deposits, we transfer your money electronically and allow you to make additional deposits at any time. In most cases, bank transfers will be deposited into your DeltaFinancial account within two business days.
%p
Once you have linked a bank account to your DeltaFinancial account, you will also be able to schedule recurring deposits repeating weekly, biweekly (1st & 15th), monthly, or quarterly.
%p
%h5.text-info Technology:
%p
Everything at DeltaFinancial, from our online tools to our quarterly statements, has been designed to give you clear and concise information.
%p
