%h3 Delta Financial has the inside scoop
.special_table
  %table.table.table-bordered.imgshadow
    %tr
      %th
        %h4.text-info Compare:
      %th.emphasis
        %h3.text-info Delta Financial
      %th
        %h3.text-info Investment Advisor
      %th
        %h3.text-info Online Trading
      %th
        %h3.text-info Savings Account
      %th
        %h3.text-info Certificate of Deposit
    %tr
      %td.striping
        %h5 Mininum Balance
      %td.emphasis $500
      %td.striping $$$$$
      %td.striping Between $0 and $2,500
      %td.striping Usually $0
      %td.striping Up to $25,000
    %tr
      %td
        %h5 Fee
      %td.emphasis 0.25% - 0.65%
      %td at least 1%
      %td At least $4 per trade.
      %td Varies - more likely with a low balance.
      %td For withdrawals or closures
    %tr
      %td.striping
        %h5 Simplicity
      %td.emphasis Very simple
      %td.striping Ha.
      %td.striping Be prepared to learn.
      %td.striping Easy enough
      %td.striping Not very.
    %tr
      %td
        %h5 Access to Money
      %td.emphasis Anytime.
      %td Not easily.
      %td If you didn't lose it already
      %td Only 6 withdrawals per month
      %td Not before the CD term is over.
